<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/frontend/layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Đăng nhập người dùng</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Đăng nhập</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="login-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Đăng nhập</h3>
                    <div class="theme-card">
                        <form class="theme-form" th:action="@{/login}" th:object="${customer}" method="POST">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email của bạn"
                                       required="" th:field="*{email}">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}"></div>
                            </div>
                            <div class="form-group">
                                <label for="review">Mật khẩu</label>
                                <input type="password" class="form-control" id="review"
                                       placeholder="Nhập mật khẩu của bạn" required="" th:field="*{password}">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}"
                                     th:errors="*{password}"></div>
                            </div>
                            <button type="submit" class="btn btn-solid">Đăng nhập</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 right-login">
                    <h3>Người dùng mới</h3>
                    <div class="theme-card authentication-right">
                        <h6 class="title-font">Tạo mới tài khoản</h6>
                        <p>Đăng ký một tài khoản miễn phí tại cửa hàng của chúng tôi. Thủ tục đăng kí nhanh chóng và đơn
                            giản. Nó cho phép bạn có thể đặt hàng từ cửa hàng của chúng tôi. Để bắt đầu mua sắm bấm đăng
                            ký.</p><a th:href="@{/register}" class="btn btn-solid">Đăng ký ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div layout:fragment="footer">
    <div th:replace="layouts/frontend/nosidebar-footer :: footer"></div>
</div>

</body>
</html>