<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body class="theme-color-31 mulish-font">

<div th:fragment="footer">
    <footer class="footer-light footer-expand section-t-space pb-0 sidebar-shop-footer">
        <div class="section-t-space section-b-space light-layout">
            <div class="container-fluid">
                <div class="row footer-theme partition-f">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-title footer-mobile-title">
                            <h4>about</h4>
                        </div>
                        <div class="footer-contant">
                            <div class="footer-logo"><img alt="" th:src="@{/assets/images/icon/logo/37.png}"/></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                            <ul class="store-details">
                                <li><a href="index.html"><img alt="" class="img-fluid"
                                                              th:src="@{/assets/images/store/google.png}"/></a></li>
                                <li><a href="index.html"><img alt="" class="img-fluid"
                                                              th:src="@{/assets/images/store/app.png}"/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col offset-xxl-1">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>my account</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="index.html">mens</a></li>
                                    <li><a href="index.html">womens</a></li>
                                    <li><a href="index.html">clothing</a></li>
                                    <li><a href="index.html">accessories</a></li>
                                    <li><a href="index.html">featured</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>why we choose</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="index.html">shipping &amp; return</a></li>
                                    <li><a href="index.html">secure shopping</a></li>
                                    <li><a href="index.html">gallary</a></li>
                                    <li><a href="index.html">affiliates</a></li>
                                    <li><a href="index.html">contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>store information</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-list">
                                    <li><i class="fa fa-map-marker"></i>Multikart Demo Store, Demo store India
                                        345-659
                                    </li>
                                    <li><i class="fa fa-phone"></i>Call Us: 123-456-7898</li>
                                    <li><i class="fa fa-envelope"></i>Email Us: <a
                                            href="index.html">Support@Fiot.com</a>
                                    </li>
                                    <li><i class="fa fa-fax"></i>Fax: 123456</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row small-section pb-0 d-md-block d-none">
                    <div class="col-12 popular-search-section">
                        <h4>Popular Searches</h4>
                        <ul>
                            <li><a href="index.html">frozen food</a></li>
                            <li><a href="index.html">best value</a></li>
                            <li><a href="index.html">lowest price</a></li>
                            <li><a href="index.html">bakery &amp; biscuits</a></li>
                            <li><a href="index.html">vegetables</a></li>
                            <li><a href="index.html">fruits</a></li>
                            <li><a href="index.html">eggs, meat, fish</a></li>
                            <li><a href="index.html">household items</a></li>
                            <li><a href="index.html">Dairy items</a></li>
                            <li><a href="index.html">biscuits &amp; snacks</a></li>
                            <li><a href="index.html">chocolates</a></li>
                            <li><a href="index.html">occasions &amp; decor</a></li>
                            <li><a href="index.html">personal care</a></li>
                            <li><a href="index.html">kitchen items</a></li>
                            <li><a href="index.html">cold drinks &amp; juices</a></li>
                            <li><a href="index.html">munchies</a></li>
                            <li><a href="index.html">battery &amp; bulb</a></li>
                            <li><a href="index.html">Stationery needs</a></li>
                            <li><a href="index.html">Milk</a></li>
                            <li><a href="index.html">sunflower oils</a></li>
                            <li><a href="index.html">health drinks</a></li>
                            <li><a href="index.html">organic items</a></li>
                            <li><a href="index.html">leafy vegetables</a></li>
                            <li><a href="index.html">veg food</a></li>
                        </ul>
                        <h4 class="mt-5">Cities we serve</h4>
                        <ul>
                            <li><a href="index.html">New York</a></li>
                            <li><a href="index.html">Los Angeles</a></li>
                            <li><a href="index.html">Chicago</a></li>
                            <li><a href="index.html">Houston</a></li>
                            <li><a href="index.html">Phoenix</a></li>
                            <li><a href="index.html">Philadelphia</a></li>
                            <li><a href="index.html">San Antonio</a></li>
                            <li><a href="index.html">San Diego</a></li>
                            <li><a href="index.html">Dallas</a></li>
                            <li><a href="index.html">San Jose</a></li>
                            <li><a href="index.html">Austin</a></li>
                            <li><a href="index.html">Columbus, Ohio</a></li>
                            <li><a href="index.html">Boston</a></li>
                            <li><a href="index.html">Portland</a></li>
                            <li><a href="index.html">Las Vegas</a></li>
                            <li><a href="index.html">Albuquerque</a></li>
                            <li><a href="index.html">Fresno, California</a></li>
                            <li><a href="index.html">Raleigh</a></li>
                            <li><a href="index.html">Miami</a></li>
                            <li><a href="index.html">Oakland</a></li>
                            <li><a href="index.html">Saint Paul</a></li>
                            <li><a href="index.html">Santa Ana</a></li>
                            <li><a href="index.html">Jersey City</a></li>
                            <li><a href="index.html">Durham</a></li>
                        </ul>
                        <h4 class="mt-5">About Multikart</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam,sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        <h4 class="mt-5">Payment partners</h4>
                        <div>
                            <img alt="" class="img-fluid payment-img" th:src="@{/assets/images/payment-footer.png}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p><i aria-hidden="true" class="fa fa-copyright"></i> 2017-18 themeforest powered by
                                pixelstrap</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="payment-card-bottom">
                            <ul>
                                <li>
                                    <a href="index.html"><img alt="" th:src="@{/assets/images/icon/visa.png}"/></a>
                                </li>
                                <li>
                                    <a href="index.html"><img alt=""
                                                              th:src="@{/assets/images/icon/mastercard.png}"/></a>
                                </li>
                                <li>
                                    <a href="index.html"><img alt="" th:src="@{/assets/images/icon/paypal.png}"/></a>
                                </li>
                                <li>
                                    <a href="index.html"><img alt=""
                                                              th:src="@{/assets/images/icon/american-express.png}"/></a>
                                </li>
                                <li>
                                    <a href="index.html"><img alt="" th:src="@{/assets/images/icon/discover.png}"/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- tap to top -->
    <div class="tap-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top End -->

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="deliveryareaLabel" class="modal fade" id="deliveryarea" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold">Delivery Address</h5>
                    <button aria-label="Close" class="btn-close position-relative h-auto" data-bs-dismiss="modal"
                            type="button"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="name">Select your city to start shopping</label>
                            <select aria-label="Default select example" class="form-select">
                                <option selected="">Select City</option>
                                <option value="1">New York</option>
                                <option value="2">Tokyo</option>
                                <option value="3">London</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="name">Enter your area / pincode</label>
                            <input class="form-control" id="name" placeholder="Enter Pincode" required="" type="text"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
</div>

</body>
</html>