<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body class="theme-color-31 mulish-font">

<footer class="footer-light footer-expand section-t-space pb-0 sidebar-shop-footer" th:fragment="footer">
    <div class="section-t-space section-b-space light-layout">
        <div class="container-fluid">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-title footer-mobile-title">
                        <h4>about</h4>
                    </div>
                    <div class="footer-contant">
                        <div class="footer-logo"><img alt="" th:src="@{/assets/images/icon/logo/37.png}"/></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        <ul class="store-details">
                            <li><a href="index.html"><img alt="" class="img-fluid"
                                                          th:src="@{/assets/images/store/google.png}"/></a></li>
                            <li><a href="index.html"><img alt="" class="img-fluid"
                                                          th:src="@{/assets/images/store/app.png}"/></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col offset-xxl-1">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>my account</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                <li><a href="index.html">mens</a></li>
                                <li><a href="index.html">womens</a></li>
                                <li><a href="index.html">clothing</a></li>
                                <li><a href="index.html">accessories</a></li>
                                <li><a href="index.html">featured</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>why we choose</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                <li><a href="index.html">shipping &amp; return</a></li>
                                <li><a href="index.html">secure shopping</a></li>
                                <li><a href="index.html">gallary</a></li>
                                <li><a href="index.html">affiliates</a></li>
                                <li><a href="index.html">contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>store information</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-list">
                                <li><i class="fa fa-map-marker"></i>Multikart Demo Store, Demo store India
                                    345-659
                                </li>
                                <li><i class="fa fa-phone"></i>Call Us: 123-456-7898</li>
                                <li><i class="fa fa-envelope"></i>Email Us: <a
                                        href="index.html">Support@Fiot.com</a>
                                </li>
                                <li><i class="fa fa-fax"></i>Fax: 123456</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="footer-end">
                        <p><i aria-hidden="true" class="fa fa-copyright"></i> 2017-18 themeforest powered by
                            pixelstrap</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="payment-card-bottom">
                        <ul>
                            <li>
                                <a href="#"><img alt="" th:src="@{/assets/images/icon/visa.png}"/></a>
                            </li>
                            <li>
                                <a href="#"><img alt=""
                                                          th:src="@{/assets/images/icon/mastercard.png}"/></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" th:src="@{/assets/images/icon/paypal.png}"/></a>
                            </li>
                            <li>
                                <a href="#"><img alt=""
                                                          th:src="@{/assets/images/icon/american-express.png}"/></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" th:src="@{/assets/images/icon/discover.png}"/></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>