<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body class="theme-color-31 mulish-font">

<header class="header-style-7" th:fragment="header">
    <div class="container-fluid px-sm-5">
        <div class="row">
            <div class="col-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="navbar d-lg-none d-inline-block">
                            <a href="#">
                                <div class="bar-style"><img alt="" class="img-fluid"
                                                            th:src="@{/assets/images/icon/menu.png}"/>
                                </div>
                            </a>
                        </div>
                        <div class="brand-logo">
                            <a th:href="@{/}"><img alt="" class="img-fluid blur-up lazyload"
                                                   th:src="@{/assets/images/icon/logo/37.png}"/></a>
                        </div>
                    </div>
                    <form class="form_search rounded-0 ms-5" role="form">
                        <input aria-expanded="true" class="nav-search nav-search-field"
                               id="query search-autocomplete" placeholder="Tìm kiếm sản phẩm..."
                               type="search"/>
                        <button class="btn-search" name="nav-submit-button" type="submit">
                        </button>
                    </form>
                    <div class="menu-right ms-auto d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="icon-nav">
                                <ul class="d-flex align-items-center">
                                    <li class="onhover-div mobile-search d-xl-none">
                                        <div><img alt="" class="img-fluid blur-up lazyload"
                                                  onclick="openSearch()"
                                                  th:src="@{/assets/images/icon/magnifier-zoom.png}"/>
                                        </div>
                                        <div class="search-overlay" id="search-overlay">
                                            <div><span class="closebtn" onclick="closeSearch()"
                                                       title="Close Overlay">×</span>
                                                <div class="overlay-content">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <input class="form-control"
                                                                               id="exampleInputPassword1"
                                                                               placeholder="Tìm kiếm sản phẩm..."
                                                                               type="text"/>
                                                                    </div>
                                                                    <button class="btn btn-primary" type="submit"><i
                                                                            class="fa fa-search"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-setting">
                                        <div th:if="${session.customer != null}">
                                            <div>
                                                <img src="../assets/images/icon/user-1.png"
                                                     class="img-fluid blur-up lazyload" alt="">
                                                <span th:text="${session.customer.name}"></span>
                                            </div>
                                            <div class="show-div setting">
                                                <h6>Cài đặt</h6>
                                                <ul>
                                                    <li><a th:href="@{/profile}">tài khoản</a></li>
                                                    <li>
                                                        <form id="signout" th:action="@{/signout}" th:method="POST">
                                                            <a th:onclick="document.getElementById('logout').submit()">
                                                                Đăng xuẩt
                                                            </a>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div th:if="${session.customer == null}">
                                            <div class="setting">
                                                <a th:href="@{/signin}">
                                                    <img src="../assets/images/icon/user-1.png"
                                                         class="img-fluid blur-up lazyload" alt=""> Đăng nhập
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-cart">
                                        <a class="view-cart" th:href="@{/cart}">
                                            <div>
                                                <img alt=""
                                                      class="img-fluid blur-up lazyload"
                                                      th:src="@{/assets/images/icon/trolley.png}"/>
                                            </div>
                                            <span class="cart_qty_cls" th:text="${#lists.isEmpty(session.carts) ? 0 : #lists.size(session.carts)}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

</body>
</html>