<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="multikart" name="description"/>
    <meta content="multikart" name="keywords"/>
    <meta content="multikart" name="author"/>
    <link rel="icon" th:href="@{/assets/images/favicon/1.png}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/assets/images/favicon/1.png}" type="image/x-icon"/>
    <title>Siêu thị MultiKart - Tươi ngon thượng hạng!</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet"/>

    <!-- Icons -->
    <link rel="stylesheet" th:href="@{/assets/css/vendors/font-awesome.css}" type="text/css"/>

    <!--Slick slider css-->
    <link rel="stylesheet" th:href="@{/assets/css/vendors/slick.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/vendors/slick-theme.css}" type="text/css"/>

    <!-- Animate icon -->
    <link rel="stylesheet" th:href="@{/assets/css/vendors/animate.css}" type="text/css"/>

    <!-- Themify icon -->
    <link rel="stylesheet" th:href="@{/assets/css/vendors/themify-icons.css}" type="text/css"/>

    <!-- sweetalert2-->
    <link rel="stylesheet" th:href="@{/backend/assets/css/sweetalert2/sweetalert2.min.css}"/>

    <!-- Bootstrap css -->
    <link rel="stylesheet" th:href="@{/assets/css/vendors/bootstrap.css}" type="text/css"/>

    <!-- toastr-->
    <link rel="stylesheet" th:href="@{/assets/toastr/toastr.css}"/>

    <!-- Theme css -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" type="text/css"/>
</head>
<body class="theme-color-31 mulish-font">

<!-- header start -->
<div layout:fragment="header">
    <div th:replace="layouts/frontend/header :: header"></div>
</div>
<!-- header end -->

<!-- Content Section -->
<div layout:fragment="content"></div>

<!-- footer start -->
<div layout:fragment="footer">
    <div th:replace="layouts/frontend/footer :: footer"></div>
</div>
<!-- footer end -->

<!-- tap to top -->
<div class="tap-top">
    <div>
        <i class="fa fa-angle-double-up"></i>
    </div>
</div>
<!-- tap to top End -->

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="deliveryareaLabel" class="modal fade" id="deliveryarea" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Delivery Address</h5>
                <button aria-label="Close" class="btn-close position-relative h-auto" data-bs-dismiss="modal"
                        type="button"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="name">Select your city to start shopping</label>
                        <select aria-label="Default select example" class="form-select">
                            <option selected="">Select City</option>
                            <option value="1">New York</option>
                            <option value="2">Tokyo</option>
                            <option value="3">London</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="name">Enter your area / pincode</label>
                        <input class="form-control" id="name" placeholder="Enter Pincode" required="" type="text"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->

<!-- latest jquery-->
<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>

<!-- latest jquery validation-->
<script th:src="@{/assets/js/jquery.validate.min.js}"></script>

<!-- portfolio js -->
<script th:src="@{/assets/js/isotope.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<!-- menu js-->
<script th:src="@{/assets/js/menu.js}"></script>

<!-- feather icon js-->
<script th:src="@{/assets/js/feather.min.js}"></script>

<!-- lazyload js-->
<script th:src="@{/assets/js/lazysizes.min.js}"></script>

<!-- slick js-->
<script th:src="@{/assets/js/slick.js}"></script>
<script th:src="@{/assets/js/slick-animation.min.js}"></script>

<!-- Bootstrap js-->
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

<!-- Bootstrap Notification js-->
<script th:src="@{/assets/js/bootstrap-notify.min.js}"></script>

<!-- Zoom js-->
<script th:src="@{/assets/js/jquery.elevatezoom.js}"></script>

<!-- Theme js-->
<script th:src="@{/assets/js/script.js}"></script>
<script th:src="@{/assets/js/custom-slick-animated.js}"></script>

<!-- sweetalert2-->
<script th:src="@{/backend/assets/js/sweetalert2/sweetalert2.all.min.js}"></script>

<!--script toastr-->
<script th:src="@{/assets/toastr/toastr.min.js}"></script>

<!--script custom-->
<script th:src="@{/assets/toastr/toastr.min.js}"></script>

<script>
    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("search-overlay").style.display = "none";
    }

    feather.replace();

    $(document).ready(function() {
        //Enter Your Class or ID
        let $stickyMenu = $('.header-style-7');

        let stickyNavTop = $($stickyMenu).offset().top;

        //Get Height of Navbar Div
        let navHeight = $($stickyMenu).height();

        let stickyNav = function(){
            let scrollTop = $(window).scrollTop();
            if (scrollTop > stickyNavTop) {
                $($stickyMenu).addClass('fixed');
                $('html').css('padding-top', navHeight + 'px')
            } else {
                $($stickyMenu).removeClass('fixed');
                $('html').css('padding-top', '0')
            }
        };

        stickyNav();

        $(window).scroll(function() {
            stickyNav();
        });
    });
</script>

<script th:inline="javascript">
    let success = [[${success}]];
    let error = [[${error}]];

    if (error && error !== "") {
        Swal.fire({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            icon: "error",
            title: "Lỗi rồi!",
            text: error,
        });
    } else if (success && success !== "") {
        Swal.fire({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            icon: "success",
            title: "Thành công!",
            text: success,
        });
    }

</script>

<div layout:fragment="customScript"></div>

<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '421915352902277',
            xfbml      : true,
            version    : 'v14.0'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>