<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body class="theme-color-31 mulish-font">

<div th:fragment="sidebar">
    <div class="shop-sidebar">
        <ul class="sm pixelstrap sm-vertical" id="sub-menu">
            <li class="d-lg-none d-block sidebar-back">
                <a href="#">
                    <div>
                        <div class="text-start"><i aria-hidden="true" class="fa fa-angle-left pe-2"></i> Back</div>
                    </div>
                </a>
            </li>
            <li><a href="index.html"><img alt="" class="img-fluid me-3 rounded-0"
                                          th:src="@{/assets/svg/vegetables/vegetable.svg}"/>vegetable &amp; fruit</a>
            </li>
            <li><a href="index.html"><img alt=""
                                          class="img-fluid me-3 rounded-0 rounded-0"
                                          th:src="@{/assets/svg/vegetables/biscuit.svg}"/>Biscuit &amp; Cookies</a>
            </li>
            <li><a href="index.html"><img alt="" class="img-fluid me-3 rounded-0"
                                          th:src="@{/assets/svg/vegetables/breakfast.svg}"/>Breakfast</a></li>
            <li><a href="index.html"><img alt="" class="img-fluid me-3 rounded-0"
                                          th:src="@{/assets/svg/vegetables/cup.svg}"/>Tea
                &amp; Coffee</a></li>
            <li><a href="index.html"><img alt="" class="img-fluid me-3 rounded-0"
                                          th:src="@{/assets/svg/vegetables/drink.svg}"/>Drinks &amp; Juices</a></li>
            <li><a href="index.html"><img alt="" class="img-fluid me-3 rounded-0"
                                          th:src="@{/assets/svg/vegetables/frozen.svg}"/>Frozen Foods</a></li>
            <li><a href="index.html"><img alt="" class="img-fluid me-3 rounded-0"
                                          th:src="@{/assets/svg/vegetables/grocery.svg}"/>Grocery items</a></li>
            <li><a href="index.html"><img alt="" class="img-fluid me-3 rounded-0"
                                          th:src="@{/assets/svg/vegetables/meats.svg}"/>Meat &amp; Fish</a></li>
            <li><a href="index.html"><img alt="" class="img-fluid me-3 rounded-0"
                                          th:src="@{/assets/svg/vegetables/milk.svg}"/>Milk &amp; Dairy</a></li>
            <li><a href="index.html"><img alt="" class="img-fluid me-3 rounded-0"
                                          th:src="@{/assets/svg/vegetables/pet.svg}"/>Pet
                Food</a></li>
        </ul>
    </div>
</div>

</body>
</html>