<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body class="theme-color-31 mulish-font">

<div th:fragment="sidebar">
    <div class="shop-sidebar">
        <ul class="sm pixelstrap sm-vertical" id="sub-menu">
            <li class="d-lg-none d-block sidebar-back">
                <a href="#">
                    <div>
                        <div class="text-start"><i aria-hidden="true" class="fa fa-angle-left pe-2"></i> Back</div>
                    </div>
                </a>
            </li>
            <li th:each="category : ${categories}">
                <a th:href="@{/danh-muc/{slug}(slug=${category.slug})}">
                    <img th:alt="${category.name}" class="img-fluid me-3 rounded-0"
                         th:src="${category.icon}"/>
                    <span th:text="${category.name}"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>