<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="multikart" name="description"/>
    <meta content="multikart" name="keywords"/>
    <meta content="multikart" name="author"/>
    <link rel="icon" th:href="@{/assets/images/favicon/1.png}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/assets/images/favicon/1.png}" type="image/x-icon"/>
    <title>Multikart - Multi-purpose E-commerce Html Template</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet"/>

    <!-- Font Awesome-->
    <link rel="stylesheet" th:href="@{/backend/assets/css/vendors/font-awesome.css}" type="text/css"/>

    <!-- Flag icon-->
    <link rel="stylesheet" th:href="@{/backend/assets/css/vendors/flag-icon.css}" type="text/css"/>

    <!-- ico-font-->
    <link rel="stylesheet" th:href="@{/backend/assets/css/vendors/icofont.css}" type="text/css"/>

    <!-- Prism css-->
    <link rel="stylesheet" th:href="@{/backend/assets/css/vendors/prism.css}" type="text/css"/>

    <!-- Chartist css -->
    <link rel="stylesheet" th:href="@{/backend/assets/css/vendors/chartist.css}" type="text/css"/>

    <!-- Datatables css-->
    <link rel="stylesheet" th:href="@{/backend/assets/css/vendors/datatables.css}" type="text/css"/>

    <!-- Bootstrap css-->
    <link rel="stylesheet" th:href="@{/backend/assets/css/vendors/bootstrap.css}" type="text/css"/>

    <!-- sweetalert2-->
    <link rel="stylesheet" th:href="@{/backend/assets/css/sweetalert2/sweetalert2.min.css}"/>

    <!-- App css-->
    <link rel="stylesheet" th:href="@{/backend/assets/css/style.css}" type="text/css"/>
</head>
<body>

<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- header start -->
    <div th:replace="layouts/backend/header :: header"></div>
    <!-- header end -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div th:replace="layouts/backend/sidebar :: sidebar"></div>
        <!-- Page Sidebar Ends-->

        <!-- Page Body start -->
        <div class="page-body" layout:fragment="content"></div>
        <!-- Page Body end -->

        <!-- footer start -->
        <div th:replace="layouts/backend/footer :: footer"></div>
        <!-- footer end -->
    </div>
</div>

<!-- latest jquery-->
<script th:src="@{/backend/assets/js/jquery-3.3.1.min.js}"></script>

<!-- latest jquery validation-->
<script th:src="@{/backend/assets/js/jquery.validate.min.js}"></script>

<!-- Bootstrap js-->
<script th:src="@{/backend/assets/js/bootstrap.bundle.min.js}"></script>

<!-- feather icon js-->
<script th:src="@{/backend/assets/js/icons/feather-icon/feather.min.js}"></script>
<script th:src="@{/backend/assets/js/icons/feather-icon/feather-icon.js}"></script>

<!-- Sidebar jquery-->
<script th:src="@{/backend/assets/js/sidebar-menu.js}"></script>

<!-- Datatable js-->
<script th:src="@{/backend/assets/js/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/backend/assets/js/datatables/custom-basic.js}"></script>

<!--chartist js-->
<script th:src="@{/backend/assets/js/chart/chartist/chartist.js}"></script>

<!--chartjs js-->
<script th:src="@{/backend/assets/js/chart/chartjs/chart.min.js}"></script>

<!-- lazyload js-->
<script th:src="@{/backend/assets/js/lazysizes.min.js}"></script>

<!--counter js-->
<script th:src="@{/backend/assets/js/counter/jquery.waypoints.min.js}"></script>
<script th:src="@{/backend/assets/js/counter/jquery.counterup.min.js}"></script>
<script th:src="@{/backend/assets/js/counter/counter-custom.js}"></script>

<!--peity chart js-->
<script th:src="@{/backend/assets/js/chart/peity-chart/peity.jquery.js}"></script>

<!-- Apex Chart Js -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<!--sparkline chart js-->
<script th:src="@{/backend/assets/js/chart/sparkline/sparkline.js}"></script>

<!--dashboard custom js-->
<script th:src="@{/backend/assets/js/dashboard/default.js}"></script>

<!--right sidebar js-->
<script th:src="@{/backend/assets/js/chat-menu.js}"></script>

<!--height equal js-->
<script th:src="@{/backend/assets/js/height-equal.js}"></script>

<!-- lazyload js-->
<script th:src="@{/backend/assets/js/lazysizes.min.js}"></script>

<!-- sweetalert2-->
<script th:src="@{/backend/assets/js/sweetalert2/sweetalert2.all.min.js}"></script>

<!--script admin-->
<script th:src="@{/backend/assets/js/admin-script.js}"></script>

<!--script custom-->
<script th:src="@{/backend/assets/js/custom.js}"></script>

<script th:inline="javascript">
    let success = [[${success}]];
    let error = [[${error}]];

    if (error && error !== "") {
        Swal.fire({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            icon: "error",
            title: "Lỗi rồi!",
            text: error,
        });
    } else if (success && success !== "") {
        Swal.fire({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            icon: "success",
            title: "Thành công!",
            text: success,
        });
    }

</script>

<div layout:fragment="customScript"></div>

</body>
</html>