<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<!-- Page Sidebar Start-->
<div th:fragment="sidebar" class="page-sidebar">
    <div class="main-header-left d-none d-lg-block">
        <div class="logo-wrapper">
            <a href="index.html">
                <img class="d-none d-lg-block blur-up lazyloaded"
                     th:src="@{/backend/assets/images/dashboard/multikart-logo.png}" alt=""/>
            </a>
        </div>
    </div>
    <div class="sidebar custom-scrollbar">
        <a href="#" class="sidebar-back d-lg-none d-block"><i class="fa fa-times" aria-hidden="true"></i></a>
        <div class="sidebar-user">
            <img class="img-60" th:src="@{/backend/assets/images/dashboard/user3.jpg}" alt="#"/>
            <div>
                <h6 class="f-14" th:text="${session.user.name}">JOHN</h6>
                <p>general manager.</p>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li>
                <a class="sidebar-header" th:href="@{/dashboard}">
                    <i data-feather="home"></i>
                    <span>Bảng điều khiển</span>
                </a>
            </li>

            <li>
                <a class="sidebar-header">
                    <i data-feather="user-plus"></i>
                    <span>Người dùng</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/dashboard/users}">
                            <i class="fa fa-circle"></i>Danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/users/create}">
                            <i class="fa fa-circle"></i>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="sidebar-header">
                    <i data-feather="user-plus"></i>
                    <span>Phân quyền</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/dashboard/roles}">
                            <i class="fa fa-circle"></i>Danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/roles/create}">
                            <i class="fa fa-circle"></i>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="sidebar-header">
                    <i data-feather="users"></i>
                    <span>Danh mục</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/dashboard/categories}">
                            <i class="fa fa-circle"></i>Danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/categories/create}">
                            <i class="fa fa-circle"></i>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="sidebar-header">
                    <i data-feather="users"></i>
                    <span>Đơn vị tính</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/dashboard/units}">
                            <i class="fa fa-circle"></i>Danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/units/create}">
                            <i class="fa fa-circle"></i>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="sidebar-header">
                    <i data-feather="users"></i>
                    <span>Nhà cung cấp</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/dashboard/suppliers}">
                            <i class="fa fa-circle"></i>Danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/units/create}">
                            <i class="fa fa-circle"></i>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="sidebar-header">
                    <i data-feather="users"></i>
                    <span>Khách hàng</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/dashboard/customers}">
                            <i class="fa fa-circle"></i>Danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/customers/create}">
                            <i class="fa fa-circle"></i>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="sidebar-header">
                    <i data-feather="users"></i>
                    <span>Sản phẩm</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/dashboard/products}">
                            <i class="fa fa-circle"></i>Danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/products/create}">
                            <i class="fa fa-circle"></i>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="sidebar-header">
                    <i data-feather="users"></i>
                    <span>Thanh toán</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/dashboard/payments}">
                            <i class="fa fa-circle"></i>Danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/payments/create}">
                            <i class="fa fa-circle"></i>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="sidebar-header">
                    <i data-feather="users"></i>
                    <span>Vận chuyển</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/dashboard/transports}">
                            <i class="fa fa-circle"></i>Danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/transports/create}">
                            <i class="fa fa-circle"></i>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="sidebar-header">
                    <i data-feather="users"></i>
                    <span>Hóa đơn</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/dashboard/orders}">
                            <i class="fa fa-circle"></i>Danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/orders/create}">
                            <i class="fa fa-circle"></i>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<!-- Page Sidebar Ends-->

</body>
</html>