<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/backend/layout}">
<head>
    <title>Danh sách Hóa đơn</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Orders
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i data-feather="home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Sales</li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-inner cart-section order-details-table">
                            <div class="row g-4">
                                <div class="col-xl-8">
                                    <div class="card-details-title">
                                        <h3>Mã đơn hàng <b th:text="${'#' + order.orderId}"></b></h3>
                                    </div>
                                    <div class="table-responsive table-details">
                                        <table class="table cart-table table-borderless">
                                            <tbody>
                                            <tr class="table-order" th:each="orderDetail : ${orderDetails}">
                                                <td>
                                                    <a target="_blank"
                                                       th:href="@{/san-pham/{slug}(slug=${orderDetail.slug})}">
                                                        <img width="100px" th:src="@{/{url}(url=${orderDetail.image})}"
                                                             class="img-fluid blur-up lazyload" alt="">
                                                    </a>
                                                </td>
                                                <td>
                                                    <p>Sản phẩm</p>
                                                    <h5 th:text="${orderDetail.name}"></h5>
                                                </td>
                                                <td>
                                                    <p>Số lượng</p>
                                                    <h5 th:text="${orderDetail.quantity}"></h5>
                                                </td>
                                                <td>
                                                    <p>Tổng</p>
                                                    <h5 th:text="${#numbers.formatDecimal(orderDetail.price * orderDetail.quantity, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></h5>
                                                </td>
                                            </tr>
                                            </tbody>

                                            <tfoot>
                                            <tr class="table-order">
                                                <td colspan="3">
                                                    <h5>Vận chuyển :</h5>
                                                </td>
                                                <td>
                                                    <h4>0 ₫</h4>
                                                </td>
                                            </tr>

                                            <tr class="table-order">
                                                <td colspan="3">
                                                    <h5>Thuế :</h5>
                                                </td>
                                                <td>
                                                    <h4>0 ₫</h4>
                                                </td>
                                            </tr>

                                            <tr class="table-order">
                                                <td colspan="3">
                                                    <h4 class="theme-color fw-bold">Tổng tiền :</h4>
                                                </td>
                                                <td>
                                                    <h4 class="theme-color fw-bold"
                                                        th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></h4>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="row g-4">
                                        <div class="col-12">
                                            <div class="order-success">
                                                <h4>Thông tin người nhận</h4>
                                                <ul class="order-details">
                                                    <li th:text="${order.customerName != null ? 'Họ tên: ' + order.customerName: ''}"></li>
                                                    <li th:text="${order.phone != null ? 'Số điện thoại: ' + order.phone: ''}"></li>
                                                    <li th:text="${order.email != null ? 'Email: ' + order.email: ''}"></li>
                                                    <li id="orderAddress"
                                                        th:text="${(order.address != null ? 'Địa chỉ: ' + order.address : '')}"></li>
                                                    <li id="provinceId"></li>
                                                    <li id="districtId"></li>
                                                    <li id="wardId"></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="order-success">
                                                <div class="payment-mode">
                                                    <h4>Đơn vị vận chuyển</h4>
                                                    <p th:text="${order.transportName}"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="order-success">
                                                <div class="payment-mode">
                                                    <h4>Phương thức thanh toán</h4>
                                                    <p th:text="${order.paymentName}"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="order-success">
                                                <div class="payment-mode">
                                                    <h4>Cập nhật trạng thái</h4>

                                                    <form th:object="${order}"
                                                          th:action="@{/dashboard/orders/update}" action="#"
                                                          class="needs-validation customer-add"
                                                          method="post">
                                                        <div class="form-group row">
                                                            <select name="status" th:field="*{status}"
                                                                    required>
                                                                <option value="">--Trạng thái--</option>
                                                                <option value="">Kích hoạt</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- section end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

<div layout:fragment="customScript">
    <script th:inline="javascript">
        /*<![CDATA[*/

        let provinceId = [[${order.provinceId}]];
        let districtId = [[${order.districtId}]];
        let wardId = [[${order.wardId}]];

        // preload
        $(function () {
            loadProvince();
            loadDistrict(provinceId);
            loadWard(districtId);
        });

        function loadProvince() {
            $.ajax({
                url: "[(@{/dvhc/provinces})]",
                method: 'GET',
                success: function (data) {
                    $.each(data, function (key, value) {
                        if (provinceId === value.code) {
                            $("#provinceId").html("Tỉnh/TP: " + value.name);
                        }
                    });
                }
            });
        }

        function loadDistrict(code) {
            $.ajax({
                url: "[(@{/dvhc/provinces/})]" + code,
                method: 'GET',
                success: function (data) {
                    $.each(data, function (key, value) {
                        if (districtId === value.code) {
                            $("#districtId").html("Quận/Huyện: " + value.name);
                        }
                    });
                }
            });
        }

        function loadWard(code) {
            $.ajax({
                url: "[(@{/dvhc/districts/})]" + code,
                method: 'GET',
                success: function (data) {
                    $.each(data, function (key, value) {
                        if (wardId === value.code) {
                            $("#wardId").html("Xã/Phường: " + value.name);
                        }
                    });
                }
            });
        }

        /*]]>*/
    </script>
</div>

</body>
</html>