<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/backend/layout}">
<head>
    <title th:text="'Dashboard MultiKart'"></title>
</head>
<body>

<div layout:fragment="content">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Dashboard
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i data-feather="home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="warning-box card-body">
                        <div class="media static-top-widget align-items-center">
                            <div class="icons-widgets">
                                <div class="align-self-center text-center">
                                    <i data-feather="box" class="font-secondary"></i>
                                </div>
                            </div>
                            <div class="media-body media-doller">
                                <span class="m-0">Tổng số sản phẩm</span>
                                <h3 class="mb-0"><span class="counter" th:text="${countProduct}">6659</span><small> Sản
                                    phẩm</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="secondary-box card-body">
                        <div class="media static-top-widget align-items-center">
                            <div class="icons-widgets">
                                <div class="align-self-center text-center">
                                    <i data-feather="truck" class="font-secondary"></i>
                                </div>
                            </div>
                            <div class="media-body media-doller">
                                <span class="m-0">Tổng đơn hàng</span>
                                <h3 class="mb-0"><span class="counter" th:text="${countOder}">9856</span><small> This
                                    Month</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="primary-box card-body">
                        <div class="media static-top-widget align-items-center">
                            <div class="icons-widgets">
                                <div class="align-self-center text-center"><i data-feather="dollar-sign"
                                                                              class="font-primary"></i></div>
                            </div>
                            <div class="media-body media-doller"><span class="m-0">Tổng thu nhập</span>
                                <h3 class="mb-0"><span class="counter"
                                                       th:text="${#numbers.formatDecimal(totalRevenue, 0, 'COMMA', 0, 'POINT')}">893</span>
                                    VNĐ <small> This
                                        Month</small></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="danger-box card-body">
                        <div class="media static-top-widget align-items-center">
                            <div class="icons-widgets">
                                <div class="align-self-center text-center"><i data-feather="users"
                                                                              class="font-danger"></i></div>
                            </div>
                            <div class="media-body media-doller"><span class="m-0">Tổng số người dùng</span>
                                <h3 class="mb-0"><span class="counter" th:text="${totalUser}">5631</span><small> Người
                                    dùng</small></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 xl-100">
                <div class="card">
                    <div class="card-header">
                        <h5>Market Value</h5>
                    </div>
                    <div class="card-body">
                        <div class="market-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 xl-100">
                <div class="card">
                    <div class="card-header">
                        <h5>Đơn hàng mới cập nhật</h5>
                    </div>
                    <div class="card-body">
                        <div class="user-status table-responsive latest-order-table">
                            <table class="table table-bordernone">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tổng tiền</th>
                                    <th scope="col">Phương thức thanh toán</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${lastOrders}">
                                    <td th:text="${order.orderId}"></td>
                                    <td class="digits" th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></td>
                                    <td class="font-danger" th:text="${order.paymentName}"></td>
                                    <td class="digits">
                                        <div th:switch="${order.status}">
                                            <div th:case="1">
                                                <span class="badge rounded-pill bg-warning custom-badge">Pending</span>
                                            </div>
                                            <div th:case="2">
                                                <span class="badge rounded-pill bg-danger custom-badge" >Shipping</span>
                                            </div>
                                            <div th:case="3">
                                                <span class="badge rounded-pill bg-secondary custom-badge" >Canceled</span>
                                            </div>
                                            <div th:case="4">
                                                <span class="badge rounded-pill bg-success custom-badge">Shipped</span>
                                            </div>
                                            <div th:case="*">
                                                <span class="badge rounded-pill bg-dark custom-badge">Undefined</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a th:href="@{/dashboard/orders/{id}(id=${order.orderId})}"
                                           class="btn btn-xs btn-success">chi tiết</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a th:href="@{/dashboard/orders}" class="btn btn-primary mt-4">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>