<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/frontend/layout}">
<head>
    <title th:text="'Giỏ hàng | Siêu thị MultiKart - Tươi ngon thượng hạng!'"></title>
</head>
<body>

<div layout:fragment="content">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Giỏ hàng</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="cart-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 table-responsive-xs">
                    <table class="table cart-table">
                        <thead>
                        <tr class="table-head">
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Số tiền</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Hành động</th>
                            <th scope="col">Tổng</th>
                        </tr>
                        </thead>
                        <tbody th:each="cart : ${carts}">
                        <tr th:id="${cart.productId}">
                            <form id="removeFromCart" th:action="@{/cart/{id}/delete(id=${cart.productId})}"
                                  th:method="POST">
                                <td>
                                    <a th:href="@{/san-pham/{slug}(slug=${cart.slug})}">
                                        <img alt=""
                                             th:src="@{/{url}(url=${cart.image})}"/>
                                    </a>
                                </td>
                                <td><a th:href="@{/san-pham/{slug}(slug=${cart.slug})}" th:text="${cart.name}"></a>
                                    <div class="mobile-cart-content row">
                                        <div class="col">
                                            <div class="qty-box">
                                                <div class="input-group">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-left-minus minus1"
                                                        data-type="minus"
                                                        data-field="">
                                                    <i class="ti-angle-left"></i>
                                                </button>
                                            </span>

                                                    <input type="text" name="quantity"
                                                           class="form-control input-number qty1"
                                                           value="1" th:value="${cart.quantity}">

                                                    <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-right-plus plus1"
                                                        data-type="plus" data-field="">
                                                    <i class="ti-angle-right"></i>
                                                </button>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h2 class="td-color"
                                                th:text="${#numbers.formatDecimal(cart.price, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></h2>
                                        </div>
                                        <div class="col">
                                            <h2 class="td-color">
                                                <a th:onclick="document.getElementById('removeFromCart').submit()"
                                                   class="icon"><i class="ti-close"></i></a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2 th:text="${#numbers.formatDecimal(cart.price, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-left-minus minus"
                                                        data-type="minus"
                                                        data-field="">
                                                    <i class="ti-angle-left"></i>
                                                </button>
                                            </span>

                                            <input type="text" name="quantity" class="form-control input-number qty"
                                                   value="1" th:value="${cart.quantity}">
                                            <input type="hidden" class="product_amount" th:value="${cart.amount}">

                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-right-plus plus"
                                                        data-type="plus" data-field="">
                                                    <i class="ti-angle-right"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a class="delete-form icon">
                                        <i class="ti-close"></i>
                                    </a>
                                </td>
                                <td>
                                    <h2 class="itemTotal td-color"
                                        th:text="${#numbers.formatDecimal(cart.price * cart.quantity, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></h2>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                    <div class="table-responsive-md">
                        <table class="table cart-table ">
                            <tfoot>
                            <tr>
                                <td>Thành tiền :</td>
                                <td>
                                    <h2 id="cartTotal"
                                        th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></h2>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row cart-buttons">
                <div th:class="${#lists.isEmpty(session.carts) ? 'col-12' : 'col-6'}">
                    <a th:href="@{/}" class="btn btn-solid">mua thêm</a>
                </div>
                <div class="col-6" th:unless="${#lists.isEmpty(session.carts)}">
                    <a th:href="@{/checkout}" class="btn btn-solid">thanh toán</a>
                </div>
            </div>
        </div>
    </section>

</div>

<div layout:fragment="footer">
    <div th:replace="layouts/frontend/nosidebar-footer :: footer"></div>
</div>


<div layout:fragment="customScript">
    <script th:inline="javascript">
        /*<![CDATA[*/

        function separateComma(val) {
            return new Intl.NumberFormat('vi-VN', {maximumFractionDigits: 0}).format(val);
        }

        function debounce(func, wait) {
            var timeout;

            return function () {
                var context = this,
                    args = arguments;

                var executeFunction = function () {
                    func.apply(context, args);
                };

                clearTimeout(timeout);
                timeout = setTimeout(executeFunction, wait);
            };
        }

        $(function () {

            $(".delete-form").on("click", function (e) {
                var self = this;
                let form = $(self).closest("tr").find("form");
                console.log(form);
                e.preventDefault();

                Swal.fire({
                    title: 'Xác nhận xoá?',
                    text: "Bạn sẽ không thể khôi phục dữ liệu!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Đồng ý!',
                    cancelButtonText: 'Huỷ!',
                }).then((result) => {
                    if (result.value) {
                        form.submit();
                    }
                });
            });

            $(".plus").on("click", function () {
                var self = this;
                var qty = $(self).closest("tr").find(".qty");
                var maxQty = $(self).closest("tr").find(".product_amount").val();

                if (parseInt(qty.val()) < parseInt(maxQty)) {
                    qty.val(+parseInt(qty.val()) + 1);
                    $(self).closest("tr").find(".minus").attr("disabled", false);
                    //Trigger change event
                    qty.trigger("change");
                } else {
                    $(self).attr("disabled", true);
                }
            });

            $(".minus").on("click", function () {
                var self = this;
                var qty = $(self).closest("tr").find(".qty");

                if (parseInt(qty.val()) < 2) {
                    $(self).attr("disabled", true);
                } else {
                    qty.val(+parseInt(qty.val()) - 1);
                    $(self).closest("tr").find(".plus").attr("disabled", false);
                    //Trigger change event
                    qty.trigger("change");
                }
            });

            $(".qty").on("change", debounce(function (e) {
                console.log("qty change");

                var self = this;
                var oldQty = $(self).val();
                var maxQty = $(self).closest("tr").find(".product_amount").val();

                if (parseInt($(self).val()) <= 0 || isNaN($(self).val())) {
                    $(self).val(1);
                }

                if (parseInt($(self).val()) >= maxQty) {
                    $(self).val(maxQty);
                }

                $(self).closest("tr").find(".plus").attr("disabled", false);
                $(self).closest("tr").find(".minus").attr("disabled", false);

                var id = $(self).closest("tr").attr('id');
                var qty = $(self).val();

                $.ajax({
                    "url": "/cart/update",
                    "method": "POST",
                    "data": {
                        "productId": id,
                        "quantity": qty,
                    }
                }).done(function (json) {
                    // console.log(json);

                    if (json.status === true) {
                        // $('#itemTotal').html(json.itemTotal);
                        $('#cartTotal').html(separateComma(json.cartTotal) + ' ₫');
                        $('.cart_qty_cls').html(json.cartCount);
                        $(self).closest("tr").find(".itemTotal").html(separateComma(json.itemTotal) + ' ₫');
                    } else {
                        $(self).val(oldQty);
                        Swal.fire({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 3000,
                            icon: "error",
                            title: json.message,
                        });
                    }
                }).error(function () {
                    $(self).val(oldQty);
                });
            }, 200));
        });

        /*]]>*/
    </script>
</div>

</body>
</html>