<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/frontend/layout}">
<head>
    <title th:text="'Thanh toán đơn hàng | Siêu thị MultiKart - Tươi ngon thượng hạng!'"></title>
</head>
<body>

<div layout:fragment="content">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Thanh toán</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="section-b-space">
        <div class="container">
            <div class="checkout-page">
                <div class="checkout-form">
                    <form method="post" th:object="${checkout}" th:action="@{/checkout}" class="needs-validation">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-title">
                                    <h3>Chi tiết hóa đơn</h3>
                                </div>
                                <div class="row check-out">
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Họ tên <span>*</span></div>
                                        <input type="text" name="name" th:field="*{name}" th:value="${checkout.name}" placeholder="Họ và tên" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Số điện thoại <span>*</span></div>
                                        <input type="text" name="phone" th:field="*{phone}" th:value="${checkout.phone}" placeholder="Số điện thoại" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Email <span>*</span></div>
                                        <input type="text" name="email" th:field="*{email}" th:value="${checkout.email}" placeholder="Địa chỉ email" required>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Tỉnh/Thành phố <span>*</span></div>
                                        <select name="provinceId" th:field="*{provinceId}" id="provinces" required>
                                            <option value="">--Tỉnh/Thành phố--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Quận/Huyện <span>*</span></div>
                                        <select name="districtId" th:field="*{districtId}" id="districts" required>
                                            <option value="">--Quận/Huyện--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Phường/Xã <span>*</span></div>
                                        <select name="wardId" th:field="*{wardId}" id="wards" required>
                                            <option value="">--Xã/Phường--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Địa chỉ <span>*</span></div>
                                        <input type="text" name="address" th:field="*{address}" value="" placeholder="Số nhà, tên đường" required>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Ghi chú</div>
                                        <input type="text" name="description" th:field="*{description}" value="" placeholder="Nhập yêu cầu khác của bạn nếu có">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-details">
                                    <div class="order-box">
                                        <div class="title-box">
                                            <div>Sản phẩm <span>Tổng</span></div>
                                        </div>
                                        <ul class="qty">
                                            <li th:each="cart : ${carts}">
                                                <em style="font-style:normal;" th:text="${cart.name}"/> × <em style="font-style:normal;" th:text="${cart.quantity}"/>
                                                <span th:text="${#numbers.formatDecimal(cart.price * cart.quantity, 0, 'COMMA', 0, 'POINT') + ' ₫'}"/>
                                            </li>
                                        </ul>
                                        <ul class="sub-total">
                                            <li>Vận chuyển
                                                <div class="shipping">
                                                    <div class="shopping-option" th:each="transport : ${transports}">
                                                        <input name="transportId" th:id="'transport-' + ${transport.transportId}" type="radio" th:value="${transport.transportId}" th:checked="${transportStat.index == 0}">
                                                        <label th:for="'transport-' + ${transport.transportId}" th:text="${transport.name}"></label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="total">
                                            <li>Thành tiền <span class="count" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></span></li>
                                        </ul>
                                    </div>
                                    <div class="payment-box">
                                        <div class="upper-box">
                                            <div class="payment-options">
                                                <ul>
                                                    <li th:each="payment : ${payments}">
                                                        <div class="radio-option">
                                                            <input name="paymentId" th:id="'payment-' + ${payment.paymentId}" type="radio" th:value="${payment.paymentId}" th:checked="${paymentStat.index == 0}">
                                                            <label th:for="'payment-' + ${payment.paymentId}" th:text="${payment.name}"></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <button type="submit" class="btn-solid btn">Đặt hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

<div layout:fragment="footer">
    <div th:replace="layouts/frontend/nosidebar-footer :: footer"></div>
</div>

<div layout:fragment="customScript">
    <script th:inline="javascript">
        /*<![CDATA[*/

        let provinceId = [[${checkout.provinceId}]];
        let districtId = [[${checkout.districtId}]];
        let wardId = [[${checkout.wardId}]];

        // preload
        $(function() {
            $('#districts').find('option:not(:first)').remove();
            $('#wards').find('option:not(:first)').remove();
            loadProvince();
            loadDistrict(provinceId);
            loadWard(districtId);
        });

        $("#provinces").on('change', function(e) {
            e.preventDefault();
            let code = $(this).find(':selected').data("code");
            $('#districts').find('option:not(:first)').remove();
            $('#wards').find('option:not(:first)').remove();
            loadDistrict(code);
        });

        $("#districts").on('change', function(e) {
            e.preventDefault();
            let code = $(this).find(':selected').data("code");
            $('#wards').find('option:not(:first)').remove();
            loadWard(code);
        });

        function loadProvince() {
            $.ajax({
                url: "[(@{/dvhc/provinces})]",
                method: 'GET',
                success: function(data) {
                    $.each(data, function(key, value) {
                        $("#provinces").append(
                            "<option "+ (provinceId === value.code ? "selected" : "") +" data-code=\"" + value.code + "\" value=\"" + value.code + "\">" + value.name + "</option>"
                        );
                    });
                }
            });
        }

        function loadDistrict(code) {
            $.ajax({
                url: "[(@{/dvhc/provinces/})]" + code,
                method: 'GET',
                success: function(data) {
                    $.each(data, function(key, value) {
                        $("#districts").append(
                            "<option "+ (districtId === value.code ? "selected" : "") +" data-code=\"" + value.code + "\" value=\"" + value.code + "\">" + value.name + "</option>"
                        );
                    });
                }
            });
        }

        function loadWard(code) {
            $.ajax({
                url: "[(@{/dvhc/districts/})]" + code,
                method: 'GET',
                success: function(data) {
                    $.each(data, function(key, value) {
                        $("#wards").append(
                            "<option "+ (wardId === value.code ? "selected" : "") +" data-code=\"" + value.code + "\" value=\"" + value.code + "\">" + value.name + "</option>"
                        );
                    });
                }
            });
        }
        /*]]>*/
    </script>
</div>

</body>
</html>