<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/frontend/layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Thanh toán</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="section-b-space">
        <div class="container">
            <div class="checkout-page">
                <div class="checkout-form">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-title">
                                    <h3>Chi tiết hóa đơn</h3>
                                </div>
                                <div class="row check-out">
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Họ tên</div>
                                        <input type="text" name="field-name" th:value="${customer.name}" placeholder="Họ và tên">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Số điện thoại</div>
                                        <input type="text" name="field-name" th:value="${customer.phone}" placeholder="Số điện thoại">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Email</div>
                                        <input type="text" name="field-name" th:value="${customer.email}" placeholder="Địa chỉ email">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Tỉnh/Thành phố</div>
                                        <select id="provinces">
                                            <option value="0">--Tỉnh/Thành phố--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Quận/Huyện</div>
                                        <select id="districts">
                                            <option value="0">--Quận/Huyện--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Phường/Xã</div>
                                        <select id="wards">
                                            <option value="0">--Xã/Phường--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Địa chỉ</div>
                                        <input type="text" name="address" value="" placeholder="Số nhà, tên đường">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Ghi chú</div>
                                        <input type="text" name="description" value="" placeholder="Nhập yêu cầu khác của bạn nếu có">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-details">
                                    <div class="order-box">
                                        <div class="title-box">
                                            <div>Sản phẩm <span>Tổng</span></div>
                                        </div>
                                        <ul class="qty">
                                            <li th:each="cart : ${carts}">
                                                <em style="font-style:normal;" th:text="${cart.name}"/> × <em style="font-style:normal;" th:text="${cart.quantity}"/>
                                                <span th:text="${cart.price * cart.quantity}"/>
                                            </li>
                                        </ul>
                                        <ul class="sub-total">
                                            <li>Vận chuyển
                                                <div class="shipping">
                                                    <div class="shopping-option" th:each="transport : ${transports}">
                                                        <input th:id="'transport-' + ${transport.transportId}" type="radio" name="free-shipping" th:value="${transport.transportId}">
                                                        <label th:for="'transport-' + ${transport.transportId}" th:text="${transport.name}"></label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="total">
                                            <li>Thành tiền <span class="count" th:text="${total}"></span></li>
                                        </ul>
                                    </div>
                                    <div class="payment-box">
                                        <div class="upper-box">
                                            <div class="payment-options">
                                                <ul>
                                                    <li th:each="payment : ${payments}">
                                                        <div class="radio-option">
                                                            <input th:id="'payment-' + ${payment.paymentId}" type="radio" name="payment" th:value="${payment.paymentId}">
                                                            <label th:for="'payment-' + ${payment.paymentId}" th:text="${payment.name}"></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <button class="btn-solid btn">Đặt hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

<div layout:fragment="footer">
    <div th:replace="layouts/frontend/nosidebar-footer :: footer"></div>
</div>

<div layout:fragment="customScript">
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(function() {
            $.ajax({
                url: "[(@{/dvhc/provinces})]",
                method: 'GET',
                success: function(data) {
                    $('#districts').find('option:not(:first)').remove();
                    $('#wards').find('option:not(:first)').remove();
                    $.each(data, function(key, value) {
                        $("#provinces").append(
                            "<option data-code=" + value.code + " value=" + value.name + ">" + value.name + "</option>"
                        );
                    });
                }
            });
        });

        $("#provinces").on('change', function(e) {
            e.preventDefault();
            let code = $(this).find(':selected').data("code");
            $.ajax({
                url: "[(@{/dvhc/provinces/})]" + code,
                method: 'GET',
                success: function(data) {
                    $('#districts').find('option:not(:first)').remove();
                    $('#wards').find('option:not(:first)').remove();
                    $.each(data, function(key, value) {
                        $("#districts").append(
                            "<option data-code=" + value.code + " value=" + value.name + ">" + value.name + "</option>"
                        );
                    });
                }
            });
        });

        $("#districts").on('change', function(e) {
            e.preventDefault();
            let code = $(this).find(':selected').data("code");
            $.ajax({
                url: "[(@{/dvhc/districts/})]" + code,
                method: 'GET',
                success: function(data) {
                    $('#wards').find('option:not(:first)').remove();
                    $.each(data, function(key, value) {
                        $("#wards").append(
                            "<option data-code=" + value.code + " value=" + value.name + ">" + value.name + "</option>"
                        );
                    });
                }
            });
        });
        /*]]>*/
    </script>
</div>

</body>
</html>