<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/frontend/layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <!-- shop body start -->
    <div class="shop-sidebar-demo">
        <a class="sidebar-overlay" href="#" onclick="closeNav()"></a>
        <div th:replace="layouts/frontend/sidebar :: sidebar"></div>

        <div class="shop-main">
            <div class="pb-0 small-section small-slider">
                <div class="home">
                    <img alt="" class="bg-img blur-up lazyload" th:src="@{/assets/images/bgg.jpg}"/>
                    <div class="container-lg">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain product-detail">
                                    <div>
                                        <h4>Đồng hành cùng nông sản việt</h4>
                                        <h2 class="my-3">
                                            Chào mừng bạn tới Multikart</h2>
                                        <a class="btn btn-solid rounded-3" href="#">mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bag-product ratio_square section-t-space" th:each="categoryProduct : ${categoryProducts}">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="title8">
                                <a th:href="@{/danh-muc/{slug}(slug=${categoryProduct.slug})}">
                                    <h2 th:text="${categoryProduct.name}"></h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="slide-6-veg slick-sm-margin no-arrow">
                                <div class="product-box product-style-5"
                                     th:each="product : ${categoryProduct.products.content}">
                                    <a th:href="@{/san-pham/{slug}(slug=${product.slug})}">
                                        <h6 th:text="${product.name}"></h6>
                                    </a>
                                    <h5 th:text="${product.unitName}"></h5>
                                    <h4 th:text="${#numbers.formatDecimal(product.exportPrice, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></h4>
                                    <div class="addtocart_btn">
                                        <a th:href="@{/san-pham/{slug}(slug=${product.slug})}"
                                           class="add-button add_cart" title="Add to cart">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a th:href="@{/san-pham/{slug}(slug=${product.slug})}">
                                                <img alt="" class="img-fluid blur-up lazyload bg-img"
                                                     th:src="@{/{url}(url=${product.image})}"/>
<!--                                                <img alt="" class="img-fluid blur-up lazyload bg-img"   th:attr="data-src=@{/{url}(url=${product.image})}"/>-->
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop body end -->
</div>

</body>
</html>