<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/frontend/layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Đơn hàng</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Đơn hàng</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- thank-you section start -->
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="success-text">
                        <div class="checkmark">
                            <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                </path>
                            </svg>
                            <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                </path>
                            </svg>
                            <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                </path>
                            </svg>
                            <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                </path>
                            </svg>
                            <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                </path>
                            </svg>
                            <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                </path>
                            </svg>
                            <svg class="checkmark__check" height="36" viewBox="0 0 48 36" width="48"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M47.248 3.9L43.906.667a2.428 2.428 0 0 0-3.344 0l-23.63 23.09-9.554-9.338a2.432 2.432 0 0 0-3.345 0L.692 17.654a2.236 2.236 0 0 0 .002 3.233l14.567 14.175c.926.894 2.42.894 3.342.01L47.248 7.128c.922-.89.922-2.34 0-3.23">
                                </path>
                            </svg>
                            <svg class="checkmark__background" height="115" viewBox="0 0 120 115" width="120"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M107.332 72.938c-1.798 5.557 4.564 15.334 1.21 19.96-3.387 4.674-14.646 1.605-19.298 5.003-4.61 3.368-5.163 15.074-10.695 16.878-5.344 1.743-12.628-7.35-18.545-7.35-5.922 0-13.206 9.088-18.543 7.345-5.538-1.804-6.09-13.515-10.696-16.877-4.657-3.398-15.91-.334-19.297-5.002-3.356-4.627 3.006-14.404 1.208-19.962C10.93 67.576 0 63.442 0 57.5c0-5.943 10.93-10.076 12.668-15.438 1.798-5.557-4.564-15.334-1.21-19.96 3.387-4.674 14.646-1.605 19.298-5.003C35.366 13.73 35.92 2.025 41.45.22c5.344-1.743 12.628 7.35 18.545 7.35 5.922 0 13.206-9.088 18.543-7.345 5.538 1.804 6.09 13.515 10.696 16.877 4.657 3.398 15.91.334 19.297 5.002 3.356 4.627-3.006 14.404-1.208 19.962C109.07 47.424 120 51.562 120 57.5c0 5.943-10.93 10.076-12.668 15.438z">
                                </path>
                            </svg>
                        </div>
                        <h2>cảm ơn</h2>
                        <p>Thanh toán được thực hiện thành công và đơn đặt hàng của bạn đang được chuyển đến</p>
                        <p class="font-weight-bold">Mã đơn hàng: <b th:text="${order.orderId}"></b></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->

    <!-- order-detail section start -->
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-order">
                        <div class="row product-order-detail" th:each="orderDetail : ${orderDetails}">
                            <div class="col-3">
                                <img width="100px" th:src="@{/{url}(url=${orderDetail.image})}"
                                     class="img-fluid blur-up lazyload">
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>Sản phẩm</h4>
                                    <h5 th:text="${orderDetail.name}"></h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>Số lượng</h4>
                                    <h5 th:text="${orderDetail.quantity}"></h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>Tổng</h4>
                                    <h5 th:text="${#numbers.formatDecimal(orderDetail.price * orderDetail.quantity, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="total-sec">
                            <ul>
                                <li>Vận chuyển <span>0 ₫</span></li>
                                <li>Thuế <span>0 ₫</span></li>
                            </ul>
                        </div>
                        <div class="final-total">
                            <h3>Tổng tiền <span
                                    th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="order-success-sec">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Thông tin người nhận</h4>
                                <ul class="order-detail">
                                    <li th:text="${order.customerName}"></li>
                                    <li th:text="${order.phone}"></li>
                                    <li th:text="${order.email}"></li>
                                    <li th:text="${order.address + ', ' + order.ward + ', ' + order.district + ', ' + order.province}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 payment-mode mt-2">
                            <h4>Đơn vị vận chuyển</h4>
                            <p th:text="${order.transportName}"></p>
                        </div>
                        <div class="col-sm-12 payment-mode mt-2">
                            <h4>Phương thức thanh toán</h4>
                            <p th:text="${order.paymentName}"></p>
                        </div>
                        <div class="col-md-12">
                            <div class="delivery-sec">
                                <h3>expected date of delivery: <span>october 22, 2018</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->

</div>

<div layout:fragment="footer">
    <div th:replace="layouts/frontend/nosidebar-footer :: footer"></div>
</div>

<div layout:fragment="customScript">
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(function () {
            $.ajax({
                url: "[(@{/dvhc/provinces})]",
                method: 'GET',
                success: function (data) {
                    $('#districts').find('option:not(:first)').remove();
                    $('#wards').find('option:not(:first)').remove();
                    $.each(data, function (key, value) {
                        $("#provinces").append(
                            "<option data-code=" + value.code + " value=" + value.name + ">" + value.name + "</option>"
                        );
                    });
                }
            });
        });

        $("#provinces").on('change', function (e) {
            e.preventDefault();
            let code = $(this).find(':selected').data("code");
            $.ajax({
                url: "[(@{/dvhc/provinces/})]" + code,
                method: 'GET',
                success: function (data) {
                    $('#districts').find('option:not(:first)').remove();
                    $('#wards').find('option:not(:first)').remove();
                    $.each(data, function (key, value) {
                        $("#districts").append(
                            "<option data-code=" + value.code + " value=" + value.name + ">" + value.name + "</option>"
                        );
                    });
                }
            });
        });

        $("#districts").on('change', function (e) {
            e.preventDefault();
            let code = $(this).find(':selected').data("code");
            $.ajax({
                url: "[(@{/dvhc/districts/})]" + code,
                method: 'GET',
                success: function (data) {
                    $('#wards').find('option:not(:first)').remove();
                    $.each(data, function (key, value) {
                        $("#wards").append(
                            "<option data-code=" + value.code + " value=" + value.name + ">" + value.name + "</option>"
                        );
                    });
                }
            });
        });
        /*]]>*/
    </script>
</div>

</body>
</html>