<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/frontend/layout}">
<head>
    <title th:text="${product.name} + ' | Siêu thị MultiKart - Tươi ngon thượng hạng!'"></title>
</head>
<body>

<div layout:fragment="content">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2 th:text="${product.name}"></h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page" th:text="${product.name}"></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- section start -->
    <section>
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-sm-2 col-xs-12">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="slider-right-nav">
                                    <div th:each="image : ${images}">
                                        <img th:src="@{/{url}(url=${image.url})}" alt=""
                                             class="img-fluid blur-up lazyload">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-10 col-xs-12 order-up">
                        <div class="product-right-slick">
                            <div th:each="image : ${images}">
                                <img th:src="@{/{url}(url=${image.url})}" alt=""
                                     class="img-fluid blur-up lazyload image_zoom_cls-0">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <div class="product-count">
                                <ul>
                                    <li>
                                        <img src="../assets/images/fire.gif" class="img-fluid" alt="image">
                                        <span class="p-counter">37</span>
                                        <span class="lang">orders in last 24 hours</span>
                                    </li>
                                    <li>
                                        <img src="../assets/images/person.gif" class="img-fluid user_img" alt="image">
                                        <span class="p-counter">44</span>
                                        <span class="lang">active view this</span>
                                    </li>
                                </ul>
                            </div>
                            <h2 th:text="${product.name}"></h2>
                            <div class="label-section">
                                <span class="badge badge-grey-color" th:text="${product.categoryName}"></span>
                            </div>
                            <h3 class="price-detail">
                                <span th:text="${#numbers.formatDecimal(product.exportPrice, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></span>
<!--                                <del>$459.00</del>-->
                            </h3>

                            <form th:object="${cart}" id="addToCart" th:action="@{/cart}"
                                  th:method="POST">
                                <input type="hidden" th:field="*{productId}">
                                <div id="selectSize" class="addeffect-section product-description border-product">
                                    <h6 class="product-title size-text">đơn vị</h6>
                                    <div class="size-box">
                                        <ul>
                                            <li class="active"><a href="javascript:void(0)"
                                                                  th:text="${product.unitName}"></a></li>
                                        </ul>
                                    </div>
                                    <h6 class="product-title">số lượng <b th:text="'(' + ${product.amount} + ')'"></b></h6>
                                    <div class="qty-box">
                                        <input type="hidden" class="product_amount" th:value="${product.amount}">
                                        <div class="input-group"><span class="input-group-prepend">
                                            <button type="button" class="btn quantity-left-minus minus" data-type="minus"
                                                    data-field="">
                                                <i class="ti-angle-left"></i>
                                            </button>
                                        </span>
                                            <input type="text" name="quantity" class="form-control input-number qty"
                                                   value="1" th:field="*{quantity}">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-right-plus plus"
                                                        data-type="plus" data-field="">
                                                    <i class="ti-angle-right"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-buttons">
                                    <button id="cartEffect"
                                            class="btn btn-solid hover-solid btn-animation">
                                        <i class="fa fa-shopping-cart me-1"
                                           aria-hidden="true"></i> thêm vào giỏ
                                    </button>
                                </div>
                            </form>
                            <div class="product-count">
                                <ul>
                                    <li>
                                        <img src="../assets/images/icon/truck.png" class="img-fluid" alt="image">
                                        <span class="lang">Free shipping for orders above $500 USD</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="border-product">
                                <h6 class="product-title">shipping info</h6>
                                <ul class="shipping-info">
                                    <li>100% Original Products</li>
                                    <li>Free Delivery on order above Rs. 799</li>
                                    <li>Pay on delivery is available</li>
                                    <li>Easy 30 days returns and exchanges</li>
                                </ul>
                            </div>
                            <div class="border-product">
                                <h6 class="product-title">share it</h6>
                                <div class="product-icon">
                                    <ul class="product-social">
                                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->

    <!-- product-tab starts -->
    <section class="tab-product m-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="top-home-tab"><i
                                class="icofont icofont-ui-home"></i>Mô tả sản phẩm</a>
                            <div class="material-border"></div>
                        </li>
                    </ul>
                    <div class="tab-content nav-material" id="top-tabContent">
                        <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                             aria-labelledby="top-home-tab">
                            <div class="product-tab-discription" th:text="${(product.description != null && product.description != '') ? product.description : 'Sản phẩm chưa có mô tả...'}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-12">
                    <div class="fb-comments" th:attr="data-href=@{http://multikart.com/san-pham/{slug}(slug=${product.slug})}" data-numposts="5" data-width="100%"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- product-tab ends -->

    <!-- product section start -->
    <section class="section-b-space ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col-12 product-related">
                    <h2>Sản phẩm liên quan</h2>
                </div>
            </div>
            <div class="row search-product">
                <div class="col-xl-2 col-md-4 col-6" th:each="product : ${relatedProducts.content}">
                    <div class="product-box product-style-5">
                        <a th:href="@{/san-pham/{slug}(slug=${product.slug})}">
                            <h6 th:text="${product.name}"></h6>
                        </a>
                        <h5 th:text="${product.unitName}"></h5>
                        <h4 th:text="${#numbers.formatDecimal(product.exportPrice, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></h4>
                        <div class="addtocart_btn">
                            <a th:href="@{/san-pham/{slug}(slug=${product.slug})}"
                               class="add-button add_cart" title="Add to cart">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="img-wrapper">
                            <div class="front">
                                <a th:href="@{/san-pham/{slug}(slug=${product.slug})}">
                                    <img alt=""
                                         class="img-fluid blur-up lazyload bg-img"
                                         th:src="@{/{url}(url=${product.image})}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product section end -->

</div>

<div layout:fragment="footer">
    <div th:replace="layouts/frontend/nosidebar-footer :: footer"></div>
</div>

<div layout:fragment="customScript">
    <script th:inline="javascript">
        /*<![CDATA[*/

        let maxQty = [[${product.amount}]];

        function debounce(func, wait) {
            var timeout;

            return function () {
                var context = this,
                    args = arguments;

                var executeFunction = function () {
                    func.apply(context, args);
                };

                clearTimeout(timeout);
                timeout = setTimeout(executeFunction, wait);
            };
        }

        $(function() {
            $(".plus").on("click", function() {
                var self = this;
                var qty = $(self).closest(".qty-box").find(".qty");
                var maxQty = $(self).closest(".qty-box").find(".product_amount").val();

                if (parseInt(qty.val()) <= parseInt(maxQty)) {
                    qty.val(+parseInt(qty.val()) + 1);
                    $(self).closest(".qty-box").find(".minus").attr("disabled", false);
                    //Trigger change event
                    qty.trigger("change");
                } else {
                    $(self).attr("disabled", true);
                }
            });

            $(".minus").on("click", function() {
                var self = this;
                var qty = $(self).closest(".qty-box").find(".qty");

                if (parseInt(qty.val()) < 2) {
                    $(self).attr("disabled", true);
                } else {
                    qty.val(+parseInt(qty.val()) - 1);
                    $(self).closest(".qty-box").find(".plus").attr("disabled", false);
                    //Trigger change event
                    qty.trigger("change");
                }
            });

            $(".qty").on("change", debounce(function (e) {
                console.log("qty change");

                var self = this;
                var maxQty = $(self).closest(".qty-box").find(".product_amount").val();

                if (parseInt($(self).val()) <= 0 || isNaN($(self).val())) {
                    $(self).val(1);
                }

                if (parseInt($(self).val()) >= maxQty) {
                    $(self).val(maxQty);
                }

                $(self).closest(".qty-box").find(".plus").attr("disabled", false);
                $(self).closest(".qty-box").find(".minus").attr("disabled", false);
            }, 300));
        });

        /*]]>*/
    </script>
</div>

</body>
</html>