<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/frontend/layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>tài khoản</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">tài khoản</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="dashboard-section section-b-space user-dashboard-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div th:replace="layouts/frontend/profile-sidebar :: profile-sidebar"></div>
                </div>
                <div class="col-lg-9">
                    <div class="faq-content tab-content" id="top-tabContent">
                        <div class="tab-pane fade show active" id="info">
                            <div class="counter-section">
                                <div class="welcome-msg">
                                    <h4>Xin chào, <span th:text="${customer.name}"></span>!</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="counter-box">
                                            <img src="../assets/images/icon/dashboard/sale.png" class="img-fluid">
                                            <div>
                                                <h3 th:text="${totalOrders}"></h3>
                                                <h5>Tổng số đơn hàng</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="counter-box">
                                            <img src="../assets/images/icon/dashboard/homework.png" class="img-fluid">
                                            <div>
                                                <h3 th:text="${ordersPending}"></h3>
                                                <h5>Đơn hàng đang chờ</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout-page box-account box-info">
                                    <div class="box-head">
                                        <h4>Thông tin</h4>
                                    </div>
                                    <div class="box mt-3">
                                        <div class="box-title">
                                            <h3>Thông tin cá nhân</h3>
                                        </div>
                                        <div class="checkout-form">
                                            <form method="post" th:object="${customer}" th:action="@{/profile}"
                                                  class="needs-validation">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-row row check-out">
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Họ tên <span>*</span></div>
                                                                <input type="text" name="name" th:field="*{name}"
                                                                       th:value="${customer.name}"
                                                                       placeholder="Họ và tên" required>
                                                            </div>
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Số điện thoại <span>*</span>
                                                                </div>
                                                                <input type="text" name="phone" th:field="*{phone}"
                                                                       th:value="${customer.phone}"
                                                                       placeholder="Số điện thoại" required>
                                                            </div>
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Email <span>*</span></div>
                                                                <input type="text" name="email" th:field="*{email}"
                                                                       th:value="${customer.email}"
                                                                       placeholder="Địa chỉ email" required>
                                                            </div>
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Mật khẩu</div>
                                                                <input type="password" name="password"
                                                                       th:field="*{password}" placeholder="Mật khẩu">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-row row check-out">
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Tỉnh/Thành phố
                                                                    <span>*</span></div>
                                                                <select name="province" th:field="*{provinceId}"
                                                                        id="provinces" required>
                                                                    <option value="">--Tỉnh/Thành phố--</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Quận/Huyện <span>*</span>
                                                                </div>
                                                                <select name="district" th:field="*{districtId}"
                                                                        id="districts" required>
                                                                    <option value="">--Quận/Huyện--</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Phường/Xã <span>*</span>
                                                                </div>
                                                                <select name="ward" th:field="*{wardId}" id="wards"
                                                                        required>
                                                                    <option value="">--Xã/Phường--</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Địa chỉ <span>*</span>
                                                                </div>
                                                                <input type="text" name="address" th:field="*{address}"
                                                                       value="" placeholder="Số nhà, tên đường"
                                                                       required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 mt-5">
                                                        <button class="btn btn-solid" type="submit">Cập nhật</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div layout:fragment="footer">
    <div th:replace="layouts/frontend/nosidebar-footer :: footer"></div>
</div>

<div layout:fragment="customScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let provinceId = [[${customer.provinceId}]];
        let districtId = [[${customer.districtId}]];
        let wardId = [[${customer.wardId}]];

        // preload
        $(function() {
            $('#districts').find('option:not(:first)').remove();
            $('#wards').find('option:not(:first)').remove();
            loadProvince();
            loadDistrict(provinceId);
            loadWard(districtId);
        });

        $("#provinces").on('change', function(e) {
            e.preventDefault();
            let code = $(this).find(':selected').data("code");
            $('#districts').find('option:not(:first)').remove();
            $('#wards').find('option:not(:first)').remove();
            loadDistrict(code);
        });

        $("#districts").on('change', function(e) {
            e.preventDefault();
            let code = $(this).find(':selected').data("code");
            $('#wards').find('option:not(:first)').remove();
            loadWard(code);
        });

        function loadProvince() {
            $.ajax({
                url: "[(@{/dvhc/provinces})]",
                method: 'GET',
                success: function(data) {
                    $.each(data, function(key, value) {
                        $("#provinces").append(
                            "<option "+ (provinceId === value.code ? "selected" : "") +" data-code=\"" + value.code + "\" value=\"" + value.code + "\">" + value.name + "</option>"
                        );
                    });
                }
            });
        }

        function loadDistrict(code) {
            $.ajax({
                url: "[(@{/dvhc/provinces/})]" + code,
                method: 'GET',
                success: function(data) {
                    $.each(data, function(key, value) {
                        $("#districts").append(
                            "<option "+ (districtId === value.code ? "selected" : "") +" data-code=\"" + value.code + "\" value=\"" + value.code + "\">" + value.name + "</option>"
                        );
                    });
                }
            });
        }

        function loadWard(code) {
            $.ajax({
                url: "[(@{/dvhc/districts/})]" + code,
                method: 'GET',
                success: function(data) {
                    $.each(data, function(key, value) {
                        $("#wards").append(
                            "<option "+ (wardId === value.code ? "selected" : "") +" data-code=\"" + value.code + "\" value=\"" + value.code + "\">" + value.name + "</option>"
                        );
                    });
                }
            });
        }

        /*]]>*/
    </script>
</div>

</body>
</html>