<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/backend/layout}">
<head>
    <title>Danh sách phương thức thanh toán</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Phương thức thanh toán
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i data-feather="home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Sales</li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body order-datatable">
                        <table class="display" id="basic-1">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="payment : ${payments}">
                                <td th:text="${payment.paymentId}"></td>
                                <td th:text="${payment.name}"></td>
                                <td><span th:class="${payment.status == 1 ? 'badge badge-success' : 'badge badge-danger'}" class="badge badge-success" th:text="${payment.status == 1 ? 'Hoạt động' : 'Tạm ngừng'}"></span></td>
                                <td>
                                    <form th:action="@{/dashboard/payments/{id}/delete(id=${payment.paymentId})}"
                                          action="#"
                                          th:method="POST">
                                        <div class="btn-group btn-group-sm">
                                            <a th:href="@{/dashboard/payments/{id}(id=${payment.paymentId})}"
                                               class="btn btn-xs btn-warning">sửa</a>
                                            <button th:type="submit" class="btn btn-xs btn-primary">xóa</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

</body>
</html>